<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>753167810629-4i44bpasj4j4u90tllnc5v0lgppp30ks.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.753167810629-4i44bpasj4j4u90tllnc5v0lgppp30ks</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>753167810629-s4bgr348ad3sj20ubohlfc3b000idsei.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAYRRJjttGeqWV6VPFavjnY8MstX85Hdrc</string>
	<key>GCM_SENDER_ID</key>
	<string>753167810629</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mpmg.shortflix</string>
	<key>PROJECT_ID</key>
	<string>shortflix-notification-service</string>
	<key>STORAGE_BUCKET</key>
	<string>shortflix-notification-service.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:753167810629:ios:97752d652169a5f2f4a32c</string>
</dict>
</plist>